
<app-account-form [hidden]="!isHidden" [cookieInfo]="cookInfo" (canceleRgister)="cancelCommit()" (registerUser)="addUser($event)"></app-account-form>
<div [hidden]="isHidden">
<button  nz-button nzType="primary" (click)="isHidden=true">注册</button>
<button  nz-button nzType="primary" (click)="open()">导入...</button> 
<button  nz-button nzType="primary" (click)="downloadTable()">导出</button> 
<div id="needprint">
<nz-table #filterTable [nzData]="displayData">
  
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>客户
          <nz-dropdown nzTrigger="click" [nzClickHide]="false">
              <i class="anticon anticon-smile-o ant-table-filter-icon" nz-dropdown></i>
              <div class="custom-filter-dropdown">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue">
                <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
              </div>
            </nz-dropdown>
      </th>
        
      <th>编号</th>
      <th>组织</th>
      <th>账号名</th>
      <th>状态</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      
      <td>{{data.userName}}</td>
      <td>{{data.id}}</td>
      <td>{{data.orgnization}}</td>
      <td>{{data.name}}</td>
      <td>{{data.status}}</td>
      <td>{{data.addInfo}}</td>
      <td>
          <div class="dropdown">
            <button   class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              编辑
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a nz-popconfirm nzTitle="确定要注销该账号?" (nzOnConfirm)="unRegister()" (nzOnCancel)="cancelunReg()">注销</a></li>
              <!--li><a routerLink="/usermodify/{{data.name}}">修改密码</a></li-->
              <li><a (click)="frozen(data)">冻结</a></li>
              <li><a (click)="unfrozen(data)">解冻</a></li>
            </ul>
          </div>
        </td>
    </tr>
  </tbody>
</nz-table>
</div> 
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"[nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="导入账号" (nzOnClose)="close()">
    
  <form>
      <div class="form-group">
          <label for="exampleInputEmail1">请先<a href="" download="baidu.ts">下载</a> 账号模版</label>
           <!-- style="opacity: 0"-->
        </div>
        <div class="form-group">
            
          <label for="InputFile">文档输入</label>
          <input type="file" id="InputFile"   #accoutfile  (click)="setBtndisbel()">
          <p class="help-block">   填写模版后导入账号信息</p>
        </div>
        <button #accoutbnt nz-button nzType="primary" (click)="uploadTable(accoutfile)" [disabled]="inputbtndisable" >导入</button>
      </form>
</nz-drawer>